<strong>Olá, {{ provider }}</strong>
<p>Houve uma inscrição no meetup {{ meetup.name }}, confira os detalhes abaixo:</p>
<p>
  <strong>Inscrito: </strong> {{ user }}<br />
  <strong>Data/hora: </strong> {{ date }}<br />
</p>
